<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Попробуйте 
    </span>
    и напишите, что думаете.
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
