<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Попробуйте 
    </span>
    и <a href="mailto:i.need.ypermitin@yandex.ru" target="_blank" class="btn btn-primary">напишите, что думаете.</a>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
