@page "/"

<PageTitle>Главная</PageTitle>

<h1 class="display-4 fw-bold text-center">Добро пожаловать!</h1>

<p>Приветствую в тихом месте разработчика, где Вы можете найти небольшой набор инструментов для разных целей.</p>

<div class="container px-4">
    <main>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Генератор GUID</h5>
                        <p class="card-text">Инструмент формирования коллекции GUID по различным параметрам.</p>
                        <NavLink class="nav-link" href="guidGenerator" Match="NavLinkMatch.All">
                            <span class="oi oi-key" aria-hidden="true"></span> Перейти >>>
                        </NavLink>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Мой IP</h5>
                        <p class="card-text">Получение информации о клиенте (IP, информация о браузере и другое).</p>
                        <NavLink class="nav-link" href="myIp" Match="NavLinkMatch.All">
                            <span class="oi oi-key" aria-hidden="true"></span> Перейти >>>
                        </NavLink>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">ФИАС</h5>
                        <p class="card-text">Инструменты работы с ФИАС (информация о дистрибутиве, импорт, поиск адресов и другое).</p>
                        <NavLink class="nav-link" href="fias" Match="NavLinkMatch.All">
                            <span class="oi oi-document" aria-hidden="true"></span> Перейти >>>
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<SurveyPrompt Title="Что здесь можно сделать?" />