@page "/"

<PageTitle>Главная</PageTitle>

<h1>Добро пожаловать!</h1>

Приветствую в тихом месте разработчика, где Вы можете найти небольшой набор инструментов для разных целей.

<SurveyPrompt Title="Что здесь можно сделать?" />
