@page "/"

<PageTitle>Главная</PageTitle>

<h1 class="display-4 fw-bold text-center">Добро пожаловать!</h1>

<p>Приветствую в тихом месте разработчика, где Вы можете найти небольшой набор инструментов для разных целей.</p>

<div class="container">
    <main>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Генератор GUID</h5>
                <p class="card-text">Инструмент формирования коллекции GUID по различным параметрам.</p>
                <NavLink class="nav-link" href="guidGenerator" Match="NavLinkMatch.All">
                    <span class="oi oi-key" aria-hidden="true"></span> Перейти >>>
                </NavLink>
            </div>
        </div>
    </main>
</div>

<SurveyPrompt Title="Что здесь можно сделать?" />